<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:nacos="http://nacos.io/schema/nacos"
       xsi:schemaLocation="http://www.springframework.org/schema/context
 	    http://www.springframework.org/schema/context/spring-context.xsd
 	    http://www.springframework.org/schema/beans
 	    http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://nacos.io/schema/nacos http://nacos.io/schema/nacos.xsd">


    <!--配置加载yml是为了下面动态可以获取到里面的变量-->
    <!--<bean id="yamlProperties" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
        <property name="resources" value="classpath:application.yml"/>
    </bean>
    <context:property-placeholder properties-ref="yamlProperties"/>-->

    <!-- 数据库配置 -->
    <nacos:property-source data-id="db.properties" group-id="${spring.application.name}" auto-refreshed="true"/>
    <!-- 公共配置-->
<!--    <nacos:property-source data-id="common.properties" group-id="${spring.application.name}" auto-refreshed="true"/>-->
    <!-- dubbo 配置-->
    <nacos:property-source data-id="dubbo.properties" group-id="${spring.application.name}" auto-refreshed="true"/>

</beans>